<div class="side-panel crt-effect">
    <h2>Сейчас играет</h2>
    <img id="album-cover" class="album-cover-right" src="https://s3.k-connect.ru/static/music/1475/5132/1761060712_cover.jpeg" alt="Обложка альбома">
    
    <div class="track-info">
        <h3 id="current-station">The Fate of Ophelia</h3>
        <p>Исполнитель: <span style="color: #1DB954;" id="current-artist-info">Taylor Swift</span></p>
    </div>
    
    <div style="margin-top: 20px;">
        <h3>Качество</h3>
        <p id="quality">FLAC</p>
    </div>
    
    <div style="margin-top: 20px;">
        <h3>О треке</h3>
        <p id="track-description" style="font-size: 0.8rem; color: #B3B3B3; margin-top: 8px;">
            Уютная акустическая версия с элементами фолк-музыки. Идеально подходит для спокойного вечера.
        </p>
    </div>
</div>
